#header {
    top: 0;
    position:absolute;
    width: 100%;
    margin: 0;
}

#footer {
    bottom: 0;
    position:absolute;
    width: 100%;
    margin: 0;
    text-shadow: 3px 2px grey;
}

body {
    background-color:lightskyblue;
}